# https://github.com/online-judge-tools/verification-helper
function atcoder-bundle() {
  oj-bundle -I $HOME/ghq/github.com/kuhaku-space/algo/lib $1 2>/dev/null | grep -v "^#line " | grep -v "^#pragma once" | tr -s "\n"
}

function atcoder-compile() {
  USER_BUILD_FLAGS=(
    "-DNOMINMAX"
    "-DONLINE_JUDGE"
    "-DOR_PROTO_DLL="
    "-DPROTOBUF_USE_DLLS"
    "-DUSE_BOP"
    "-DUSE_CBC"
    "-DUSE_CLP"
    "-DUSE_GLOP"
    "-DUSE_LP_PARSER"
    "-DUSE_MATH_OPT"
    "-DUSE_PDLP"
    "-DUSE_SCIP"
    "-O2"
    "-Wall"
    "-Wextra"
    "-fconstexpr-depth=1024"
    "-fconstexpr-loop-limit=524288"
    "-fconstexpr-ops-limit=2097152"
    "-flto=auto"
    "-ftrivial-auto-var-init=zero"
    "-march=native"
    "-pthread"
    "-std=gnu++23"
    "-Wl,--as-needed"
    "-fopenmp"
  )
  g++-14 $1 "${USER_BUILD_FLAGS[@]}"
}

function atcoder-test() {
  find a.cpp &>/dev/null || return 1
  atcoder-bundle a.cpp >main.cpp || return 1
  atcoder-compile main.cpp || return 1

  local e_flag=0 opt
  for opt in "$@"; do
    case $opt in
    -e) e_flag=1 ;;
    esac
  done

  local oj_args=(-N)
  if [[ $e_flag = 1 ]]; then
    oj_args+=(-e 1e-9)
  fi
  oj t "${oj_args[@]}"
}

function atcoder-test-and-clip() {
  atcoder-test "$@" || return 1
  xclip -selection clipboard < main.cpp
}

function atcoder-random-checker() {
  find a.cpp &>/dev/null || return 1
  atcoder-bundle a.cpp >main.cpp || return 1
  atcoder-compile main.cpp || return 1
  (
    cd checker || exit 1
    find test.cpp &>/dev/null || exit 1
    atcoder-bundle test.cpp >test/main.cpp || exit 1
    cd test || exit 1
    atcoder-compile main.cpp || exit 1
    ./a.out
  )
}

alias ojd='cd $HOME/ghq/github.com/kuhaku-space/algo/workspace && rm -rf test/ && oj d'
alias ojb='find a.cpp &>/dev/null && atcoder-bundle a.cpp >main.cpp && atcoder-compile main.cpp'
alias ojt='atcoder-test'
alias ojs='ojb && oj s main.cpp'
alias ojtc='atcoder-test-and-clip'
alias ojrc='atcoder-random-checker'

# WSL
alias rm-zone='find . -name "*:Zone.Identifier" -type f -delete'
