# https://github.com/online-judge-tools/verification-helper
function bundle() {
  oj-bundle -I $HOME/github/algo/lib $1 2>/dev/null | grep -v "^#line " | grep -v "^#pragma once" | tr -s "\n"
}
function compile() {
  g++-12 $1 -std=gnu++20 -O2 -Wall -Wextra -mtune=native -march=native -fconstexpr-depth=2147483647 -fconstexpr-loop-limit=2147483647 -fconstexpr-ops-limit=2147483647
}
alias ojd='cd $HOME/algo && rm -rf test/ && oj d'
alias ojb='find a.cpp &>/dev/null && bundle a.cpp > main.cpp && compile main.cpp '
alias ojt='ojb && oj t -e 1e-9'
alias ojs='ojb && oj s main.cpp'
alias ojts='ojt && oj s main.cpp --yes'

# Ubuntu
alias sauu='sudo apt update && sudo apt upgrade -y'
alias cd-algo='cd ~/algo'
alias cd-lib='cd ~/github/algo'

# WSL
alias rm-zone='find . -name "*:Zone.Identifier" -type f -delete'
